.container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: 50px;
    margin-top: 40px;
}

.field {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    height: 100%;
}

.field input {
    width: 100%;
}

.button_wrapper {
    width: 20%;
    height: 100%;
}

.button {
    height: 100%;
    width: 100%;
}