.post {
    width: 100%;
}

.post_text {
    color: red;
}

.post_content {
    margin: auto;
}

.author {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-top: min(5px, 1vw);
    background-color: white;
}

.name {
    padding-left: max(1.5vw, 15px);
}

.nav {
    height: 30px;
    border-top: 1px solid grey;
    font-size: 18px;
}

.nav span {
    margin-right: 20px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}