.dialogs_page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
    
}

.dialogs_selector {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-rows: repeat(auto-fill, 80px);
}

.message {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* This one is for messages to other people */
.message__to {
    background-color: wheat;
    width: 40%;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}

/* This one is for messages from other people. Triangle inverted and color is different */
.message__from {
    background-color: yellowgreen;
    width: 40%;
    margin-left: auto;
    margin-right: 5px;
    border-radius: 2px;
    margin-bottom: 2px;
}

.dialog_window {
    display: flex;
    flex-direction: column;
    background-color: teal;
    justify-content: flex-end;
    height: 100%;
}